<!DOCTYPE html>
<html lang="en">
	{% block header %}
	<head>
		<title>
			{% block title %}
				Django Tastypie Tutorial
			{% endblock %}
		</title>
		
		<script>
		var EXAMPLE = {}
		EXAMPLE.MODELS = {}
		EXAMPLE.COLLECTIONS = {}
		EXAMPLE.VIEWS = {}
		</script>
		
		
		
		
	    <script src="/media/js/jquery.js"></script>
	    <script src="/media/js/underscore.js"></script>
	    <script src="/media/js/backbone.js"></script>
	    <script src="/media/js/backbone_tastypie.js"></script>
	    <script src="/media/js/user_models.js"></script>
	    <script src="/media/js/example.js"></script>
		

	</head>
	{% endblock %}
	
	<body>
		{% block content %} {% endblock %}
	</body>
</html>